doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/bootstrap.css")

    .container.justify-content-center.justify-content-md-between.align-items-center.py-4
        .row
            .col    
                .card
                    .card-body
                        .card-title Login 
                            .row 
                                input(type="text")
                            .row 
                                input(type="text")
                        